html{
    font-family: 'Londrina Solid', cursive;
    background-color: cornsilk;
}


.title{
    margin: -60px;
    display:flex;
    flex-flow: row wrap;
    justify-content: center;
}

#mute{
    position:absolute;
    top: 10px;
    left: 10px;
    height: 40px; 
    width: 40px;
    opacity: 40%;
    transition:all 0.2s;
}
#mute:hover{
    opacity:100%;
    cursor: pointer;
}

.simon{
    letter-spacing: 40px;
    font-size: 120px;
}

#score{
    margin-top: 85px;
    font-size: 40px;
}



#slideout{
    display: flex;
    justify-content: center;
    position: relative;
    margin: 0 0 35px 0;
}

#newGame{
    display:flex;
    justify-content: space-around;
    align-items: center;
    position: relative;
    cursor: pointer;
    font-family: 'Londrina Solid', cursive;
    background-color: #fff8dc ;
    outline: none;
    height: 50px;
    border-radius: 10px;
    font-size: 20px;
    transition: width 0.3s;
}

#difficulty{
   max-width:0;
   white-space: nowrap;
   overflow: hidden;
   transition: max-width 1s;
}

#game{
    font-size:25px;
    font-weight: bold;
    letter-spacing: 1px;
    margin: 5px;
}

#difficulty a{
    letter-spacing: 2px;
    margin: 2px;
    font-size:23px;
    font-weight:bold;
    -webkit-text-stroke:inset 0.6px white;
}

#easy{
    color:green;
}
#medium{
    color:goldenrod;
}
#hard{
    color:red;
}

#slideout:hover #difficulty {
    max-width:300px;
    color:black;
}

#levelCount{
    font-size: 35px;
    letter-spacing: 1px;
    margin: -5px auto -50px auto;
    font-weight:bold;
    -webkit-text-stroke:0.8px white;
}

.board{
    width: 500px;
    height: 500px;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    background-color:#DFD9C1;
    margin: 0 auto;
    align-content: space-evenly;
    padding: 25px 25px 50px 25px;
    border: 3px solid black;
    border-radius: 50px;
    box-shadow: 20px 20px 20px #BFBAA5;
    transition: all 0.2s;
}


.info{
    display:flex;  
    justify-content: center;
}

#status{
    font-size: 50px;
}

div > div{
    position: static;
    height: 200px;
    width: 200px;
    border-radius: 20px;
    margin: 20px;
    border: 2px solid black;	
    transition:all 0.2s;
    cursor: pointer;
    margin-bottom: 30px;
}

audio{
    display:none;
}

#pad1{
    background-color: #1FB807;    
}
.pad1{  
    box-shadow: 0px 14px 0px #1BA106;
}
.on.pad1{    
    box-shadow: 0px 4px 0px #1BA106;
    box-shadow: inset 0px 0px 30px 1px white;
    top: 10px; 
}

#pad2{
    background-color: #E93415;	       
}
.pad2{ 
    box-shadow: 0px 14px 0px #AF2710;
}
.on.pad2{  
    box-shadow: 0px 4px 0px #AF2710;
    box-shadow: inset 0px 0px 30px 2px white;
    top: 10px; 
}

#pad3{
    background-color: #FCE100;
}
.pad3{  
    box-shadow: 0px 14px 0px #DDC500; 
}
.on.pad3{    
    box-shadow: 0px 4px 0px #DDC500;
    box-shadow: inset 0px 0px 30px 2px white;
    top: 10px; 
}

#pad4{
    background-color: #1F55DA;
}
.pad4{  
    box-shadow: 0px 14px 0px #1740A4; 
}
.on.pad4{    
    box-shadow: 0px 6px 0px #1740A4;
    box-shadow: inset 0px 0px 20px 2px white;
    top: 10px; 
}

.wrong{
    box-shadow:
    0 0 20px 20px rgb(200, 1, 1),
    0 0 20px 20px rgb(209, 53, 53),
    0 0 20px 20px rgb(212, 80, 80);
    /* box-shadow:
    inset    
    0 0 20px 20px rgb(200, 1, 1),
    0 0 20px 20px rgb(209, 53, 53),
    0 0 20px 20px rgb(212, 80, 80); */
    border: 2px solid rgb(200, 1, 1);
    animation: pulse 2.5s infinite;
}

@keyframes pulse{
    0%{
    box-shadow:
    0 0 2px 2px rgb(200, 1, 1),
    0 0 2px 2px rgb(209, 53, 53),
    0 0 2px 2px rgb(212, 80, 80);
    }

    50%{
    box-shadow:
    0 0 15px 15px rgb(200, 1, 1),
    0 0 15px 15px rgb(209, 53, 53),
    0 0 15px 15px rgb(212, 80, 80);
    }

    100%{
    box-shadow:
    0 0 2px 2px rgb(200, 1, 1),
    0 0 2px 2px rgb(209, 53, 53),
    0 0 2px 2px rgb(212, 80, 80);
    }

}