html{
    font-family: 'Londrina Solid', cursive;
}
h1{
    letter-spacing: 3px;
    font-size:80px;
    display: block;
    text-align: center;
    margin: 30px 0 40px 0;
}

#newGame{
    font-family: 'Londrina Solid', cursive;
    height: 50px;
    width: 150px;
    background-color: goldenrod;
    border-radius: 25px;;
    outline-style: hidden;
    font-size: 20px;
    display:block;
    margin: 0 auto 60px auto;
}

#levelCount{
    display: block;
    position: absolute;
    font-size: 35px;
    top:0;
    right:20px;
}

.board{
    width: 500px;
    height: 500px;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    margin: 0 auto;
    align-content: space-evenly;
}
.pad{
    height: 200px;
    width: 200px;
    border: 5px solid black;
    border-radius: 50px;
    margin: 10px;
}

#pad1{
    background-color: green;
}

#pad2{
    background-color: red;
}

#pad3{
    background-color: yellow;
}

#pad4{
    background-color: blue;
}

.on{
    box-shadow:
    0 0 10px 10px rgb(0, 0, 0),
    0 0 10px 10px rgb(134, 133, 134),
    0 0 10px 10px rgb(246, 247, 247);
}

.wrong{
    box-shadow:
    0 0 20px 20px rgb(200, 1, 1),
    0 0 20px 20px rgb(209, 53, 53),
    0 0 20px 20px rgb(212, 80, 80);
}

.info{
    display:flex;  
    justify-content: center;
}

#status{
    font-size: 45px;
}